.postlist {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postlist .single-post {
    margin: 20px;
    flex-basis:350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 30px;
}